.sub-heading-results {
    color: #757575;
    font-weight: 300;
    font-size: 1.125rem;
}

.title > div:first-child {
    font-size: 14px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.row.content {
    background: linear-gradient(to right, #111, #333, #666);
    color: white;
    padding: 4px 0;
    opacity: 1;
}

.row.content ~ .row.content {
    margin-top: 12px;
}

.col-1{
    display: flex; 
    align-items: center;
}

.logo, .col-1 > span:nth-child(1) {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > span {
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: yellow;
}

.logo > img {
    width: 40px;
    border-radius: 10px;
    filter: brightness(110%) contrast(125%);
    object-fit: cover;
}

.col-1 > img {
    margin-right: 6px;
    width: 40px;
    height: 40px;
    border-radius: 100%;   
    object-fit: cover;
}

.col-1 > span:nth-child(3) {
    text-align: left;
    line-height: 24px;
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    text-align: center;
}

.col-2 > span:nth-child(1) {
    margin-right: 5px;
}

.col-2 > span:nth-child(2) {
    text-align: right;
    padding: 0 5px;
}

@media (min-width: 560px) {
    .row {
        grid-template-columns: 1fr 0.6fr;
    }
}